* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
    margin: 0;
    padding: 0;
}

.navbar .brand {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    text-shadow: 2px 2px 5px #7a7a7a;
}

.navbar-nav .nav-link {
    color: black !important;
    font-size: 20px;
    border-bottom: 1px solid transparent;
}
.navbar-nav .nav-link:hover {
    border-bottom: 2px solid black;
}

.carousel-item img {
    height: 90vh;
}

#about p {
    text-align: justify;
}

.card-body h5 {
    font-weight: 600;
}

.card-body p {
    color: #7a7a7a;
}

.card-body h4 {
    font-size: 20px;
    font-weight: 600;
    padding: 8px 0 4px;
}

#live-clock {
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20241209/pngtree-wooden-podium-for-product-display-on-a-nature-background-with-a-image_16758594.jpg);
    backdrop-filter: brightness(30%);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    min-height: 250px;
    font-size: 44px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 3px #7a7a7a;
}